{% extends 'base.html' %}

{% block script %}
    <link rel="stylesheet" href="/static/plugins/bootstrap-fileinput-master/css/fileinput.min.css">

{% endblock %}


{% block content %}
    <div class="content">
        <div class="content-nav">
            <div class="panel panel-default panel-danger panelstyle">
                <div class="panel-heading">①数据解析</div>
                <div class="panel-body">
                    <div class="datas-file">
                        <form id="dataform" method="post" action="{% url 'data-input' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input id="f_upload" type="file" class="file"  name="datafile" />
                            <br>
                            <button  id="datainput" type="button" class="btn btn-danger">提交</button>
                        </form>
                        <div id="panel1" class="panel-msg">解析中，请稍等</div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-success panelstyle">
                <div class="panel-heading">②一键构图</div>
                <div class="panel-body">
                    <div class="datas-file panel-inner">
                        <input id="datainput2" class="btn btn-success " type="button" value="一键构图">
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-warning panelstyle">
                <div class="panel-heading">③系列一览 <i id="panel-btn-3" class="fa fa-refresh fa-1x "></i></div>
                <div class="panel-body">
                    <div class="datas-file">
                        <div class="sku-list" id="sku_list">

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-info panelstyle">
                <div class="panel-heading">④选择系列</div>
                <div class="panel-body">
                    <div class="datas-file">
                        <form>
                            <div class="form-group">
                                <input type="sku" class="form-control" id="skuid" placeholder="请输入你想查询的系列号,如 : YSW5402,YSW1623"
                                       value="">
                            </div>
                            <button type="button" class="btn btn-info">构图</button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="content-inner" id="content-inner">

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/plugins/bootstrap-fileinput-master/js/fileinput.min.js"></script>
    <script src="/static/plugins/jq/jquery-1.12.4.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.js"></script>

    <script>




        $(function(){

            $.get("{% url 'imgs-name-list' %}", function(res){
                if(res['err'] === 0){
                    var img_list = res['img_name_list'];
                    var htm = "";
                    for(var i=0;i<img_list.length;i++){
                        var temp_str = "<img class='img-responsive img-thumbnail' alt='Responsive image' src='/static/imgs/datas/"+img_list[i]+"'>";
                        htm += temp_str
                    }
                    $('#content-inner').html(htm)
                }
            });

            $('#panel-btn-3').trigger('click');
        });


        $('#datainput').click(function () {
            $('#panel1').removeClass('color_red');
            $('#panel1').show();
            $('#panel1').empty();
            var file_obj = document.getElementById('f_upload').files[0];
            var fd = new FormData();
            fd.append('file',file_obj);
            $('#panel1').html("<i class='fa fa-spinner fa-pulse'></i> 解析中，请稍等");
            $.ajax({
                url:"/data-input/",
                type:'POST',
                data:fd,
                datatype: 'json',
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success:function (arg) {
                    var err = arg['err'];
                    if(err == 0){
                        $('#panel1').text(arg['msg']);
                        $('#panel1').show()
                    }else if(err == -1){
                        $('#panel1').text(arg['msg']);
                        $('#panel1').addClass('color_red');
                        $('#panel1').show()
                    }
                }
            })
        });


        $('#datainput2').click(function () {
            $.get("{% url 'data-auto-draw' %}", function(res){
                console.log(res)
                if(res['err'] === 0){
                    var img_list = res['img_name_list'];
                    var htm = "";
                    for(var i=0;i<img_list.length;i++){
                        var temp_str = "<img class='img-responsive img-thumbnail' alt='Responsive image' src='/static/imgs/datas/"+img_list[i]+"'>";
                        htm += temp_str
                    }
                    window.location.reload()
                    $('#content-inner').html(htm)
                }
            })
        });

        $('#panel-btn-3').click(function () {
            $('#panel-btn-3').addClass('fa-spin');
            $.get("{% url 'sku-list-update' %}", function(res){
                console.log(res['msg']);
                if(res['err'] == 0 ){
                    var sku_list = res['msg'];
                    var htm = "";
                    n = 0;
                    for(var i=0;i<sku_list.length;i++){
                        var m = parseInt(5*Math.random());
                        if(n === m){
                            if(n === 4){
                                n = 0
                            }else {
                                n = m + 1
                            }
                        }else {
                            n = m
                        }
                        if(  n === 0){
                            var temp_str = "<button type='button' class='btn btn-warning btn-xs btn-xs-mb'"+"onclick = select_sku('"+sku_list[i]+"')>"+sku_list[i]+"</button>"
                        }
                        else if( n === 1){
                            var temp_str = "<button type='button' class='btn btn-info btn-xs btn-xs-mb'"+"onclick = select_sku('"+sku_list[i]+"')>"+sku_list[i]+"</button>"
                        }
                        else if( n === 2){
                            var temp_str = "<button type='button' class='btn btn-success btn-xs btn-xs-mb'"+"onclick = select_sku('"+sku_list[i]+"')>"+sku_list[i]+"</button>"
                        }
                        else if( n === 3){
                            var temp_str = "<button type='button' class='btn btn-primary btn-xs btn-xs-mb'"+"onclick = select_sku('"+sku_list[i]+"')>"+sku_list[i]+"</button>"
                        }
                        else if( n === 4){
                            var temp_str = "<button type='button' class='btn btn-danger btn-xs btn-xs-mb'"+"onclick = select_sku('"+sku_list[i]+"')>"+sku_list[i]+"</button>"
                        }

                        htm += temp_str
                    }
                    $('#sku_list').html(htm)
                }
                else if(res['err'] == -1){
                    var htm = "<span style = 'color:red' >请将数据解析后再试试刷新</sapn>";
                    $('#sku_list').html(htm);
                }

                $('#panel-btn-3').removeClass('fa-spin');
            });
        });

        function select_sku(sku_name) {
            var sku_list = $('#skuid').val();
            console.log(1111);
            if(sku_list.length == 0){
                var new_sku_list = sku_name;
            }
            else {
                var new_sku_list = sku_list +','+sku_name;
            }
            console.log(sku_list);
            $('#skuid').attr('value',new_sku_list)
        }

    </script>
{% endblock %}