{% extends 'base.html' %}

{% block script %}
    <link rel="stylesheet" href="/static/plugins/bootstrap-fileinput-master/css/fileinput.min.css">

{% endblock %}


{% block content %}
    <div class="content">
        <div class="content-nav">
            <div class="panel panel-default panel-danger panelstyle">
                <div class="panel-heading">①数据解析</div>
                <div class="panel-body">
                    <div class="datas-file">
                        <form id="dataform" method="post" action="{% url 'datainput' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input id="f_upload" type="file" class="file"  name="datafile" />
                            <input type="button" value="提交" id="datainput">
                        </form>
                        <div id="panel1" class="panel-msg"></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-success panelstyle">
                <div class="panel-heading">②一键构图</div>
                <div class="panel-body">
                    <div class="datas-file">
                        1
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-info panelstyle">
                <div class="panel-heading">③选择系列</div>
                <div class="panel-body">
                    <div class="datas-file">
                        2
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="content-inner">
            <img class="img-responsive img-thumbnail" alt="Responsive image" src="/static/imgs/datas/001.jpg">
            <img class="img-responsive img-thumbnail" alt="Responsive image" src="/static/imgs/datas/002.jpg">
            <img class="img-responsive img-thumbnail" alt="Responsive image" src="/static/imgs/datas/003.jpg">
            <img class="img-responsive img-thumbnail" alt="Responsive image" src="/static/imgs/datas/004.jpg">
            <img class="img-responsive img-thumbnail" alt="Responsive image" src="/static/imgs/datas/005.jpg">
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/plugins/bootstrap-fileinput-master/js/fileinput.min.js"></script>
    <script src="/static/plugins/jq/jquery-1.12.4.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.js"></script>

    <script>
        $('#datainput').click(function () {
            $('#panel1').empty();
            var file_obj = document.getElementById('f_upload').files[0];
            var fd = new FormData();
            fd.append('file',file_obj);

            $('#panel1').text('解析中，请稍等');
            $.ajax({
                url:"/datainput/",
                type:'POST',
                data:fd,
                datatype: 'json',
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success:function (arg) {
                    var err = arg['err'];
                    if(err == 0){
                        $('#panel1').text(arg['msg']);
                        $('#panel1').show()
                    }else if(err == -1){
                        $('#panel1').text(arg['msg']);
                        $('#panel1').show()
                    }
                }
            })
        })
    </script>
{% endblock %}